<!DOCTYPE html>
<html>
<head>
    <title>Question {{ question_num }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='timer.js') }}"></script>
</head>
<body>
    <div id="timer" style="font-weight: bold; text-align: center;"></div> <!-- Centered and bold timer -->
    <h1>Question {{ question_num }}</h1>
    <p>{{ question }}</p>
    <form id="quizForm" method="post" action="{{ url_for('question', question_num=question_num) }}"> <!-- Added 'id="quizForm"' -->
        <!-- Display answer options as radio buttons -->
        {% for option in options_list %}
            <input type="radio" name="answer" value="{{ option[0] }}" id="{{ option[0] }}">
            <label for="{{ option[0] }}">{{ option }}</label><br>
        {% endfor %}
        <!-- Modified 'Next Question' button to prevent page reload -->
        <input type="button" value="{% if question_num == 15 %}Submit Quiz{% else %}Next Question{% endif %}" onclick="nextQuestion()" class="next-button">
    </form>
    {% if question_num > 1 %}
        <form method="get" action="{{ url_for('question', question_num=question_num-1) }}">
            <input type="submit" value="Previous" class="previous-button">
        </form>
    {% endif %}
</body>
</html>
